
.post {
    margin-top: 10px;
}

.remove_button{
    background: rgb(39, 35, 46);
    border-radius: 8px;
    cursor: pointer;
    padding: 14px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 20px;
}