.descriptionBlock {
    padding: 10px;
}


.profile_photo {
    width: 350px;
    height: 350px;
}

.name,
.about_user_title {
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    line-height: 16px;
}

.about {
    color: #000000;
    font-size: 14px;
    margin-top: 10px;
}

.profile_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_user {
    margin-left: 30px;
}
