.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding:10px ;
}
.dialogsItems .active {
  color: gold;
}

.input_message {
  width: 90%;
  height: 120px;
  outline: none;
  border: 1px solid #2D3D49;
  resize: none;
  margin-top: 10px;
}


