.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-right: 46px;
    align-items: center;
  }

  .item {
    margin-left: 39px;
    position: relative;
    padding: 20px 0;
    text-align: center;
  }
  .icon {
    position: absolute;
    top: 0;
    left: 35%;
  }

  .links {
    color: #2D3D49;
    text-decoration: none;
  }

  .links.active {
    color: #0A66C2;
  }

  